<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <homeHtml> -->
<div class="jumbotron">
  <h1>Cadmus Teams Meeting </h1>
  <p class="lead">Gerador de links para reuniões no Microsoft Teams</p>
  <div *ngIf="authenticated; then welcomeUser else signInPrompt"></div>
  <ng-template #welcomeUser>
    <h4>Bem Vindo {{ user.displayName }}!</h4>
    <p>Para criar uma reunião, clique na aba Meeting</p>
  </ng-template>
  <ng-template #signInPrompt>
    <button class="btn btn-primary btn-large" role="button" (click)="signIn()">Logar</button>
  </ng-template>
</div>
<!-- </homeHtml> -->
